@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  font-family: "Outfit", sans-serif;
}


@theme {
  --color-primary: #14B8A6;
  --color-primary-dull: #5EEAD4;
  --color-secondary: #0F172A;
}